#totalpage
{
 top: 100px;
 width: 870px;
 border:2px solid;
 border-radius:25px;
 hieght: 100%;
}

#girlpic1
{
    height:180px;
    width:120px;
    border:2px solid;
    border-radius:25px;
    float: left
}
#girlpic2
{
    height:180px;
    width:120px;
    border:2px solid;
    border-radius:25px;
    float: left
}
#girlpic3
{
    height:180px;
    width:120px;
    border:2px solid;
    border-radius:25px;
    float: left
}
#girlpic4
{
    height:180px;
    width:120px;
    border:2px solid;
    border-radius:25px;
    float: left
}
#girlpic5
{
    height:180px;
    width:120px;
    border:2px solid;
    border-radius:25px;
    float: left
}
#girlpic6
{
    height:180px;
    width:120px;
    border:2px solid;
    border-radius:25px;
    float: left
}
#girlpic7
{
    height:180px;
    width:120px;
    border:2px solid;
    border-radius:25px;
    float: left
}
#girlpic8
{
    height:180px;
    width:120px;
    border:2px solid;
    border-radius:25px;
    float: left
}
#girlpic9
{
    height:180px;
    width:120px;
    border:2px solid;
    border-radius:25px;
    float: left
}
#girlpic10
{
    height:180px;
    width:120px;
    border:2px solid;
    border-radius:25px;
    float: left
}
#girlpic11
{
    height:180px;
    width:120px;
    border:2px solid;
    border-radius:25px;
    float: left
}
#girlpic12
{
    height:180px;
    width:120px;
    border:2px solid;
    border-radius:25px;
    float: left
}
#girlpic13
{
    height:180px;
    width:120px;
    border:2px solid;
    border-radius:25px;
    float: left
}
#girlpic14
{
    height:180px;
    width:120px;
    border:2px solid;
    border-radius:25px;
    float: left
}
